@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F9FE;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.label-weight{
    font-weight: 900;
}

h1, h2{
    font-family: 'Indie flower', sans-serif;
    color: #0B486B;
    font-size: 3rem;
}

h2{
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
}

/* .completed{
    text-decoration: line-through;
}

.checkmark{
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 3%;
} */

.input-header h1{
    margin-bottom: 0;
}
.app{
    width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

button{
cursor: pointer;
}
.btn-container{
   display: flex; 
   justify-content: center;
   align-items: center;
}
.sort{
    cursor: pointer;
    background-color: #88ABC2;
    color: #fff;
    padding: 0px 20px;
    height: 100%;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px -2px #000000;
}
.sort:active{
    transform: scale(.98);
}



.clear-btn{
    position: absolute;
    background-color: #C2E7FF;
    color: #888;
    right: 10%;
    margin-top: 50px;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px -2px #000000;
}
.clear-btn:active{
    transform: scale(.98);
}
.error{
    color: firebrick;
}
#enter{
    /* padding: 10px 20px; */
    padding: 0px 20px;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -2px #000000;
    background-color: #ee6c4d;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 4px;
}
#enter:active{
    transform: scale(.98);
}
.fa-sort-up{
    margin-top: 15px;
}
.fa-pen-to-square{
    color: #88A65E;
}
.fa-trash{
    color: #8C2318;
}

.saveBtn{
    display: none;
    border: none;
    border-radius: 5px;
    background-color: #98c1d9;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}
.saveBtn:focus{
    transform: scale(.98);
}

i{
    cursor: pointer;
}



textarea{
    text-transform: capitalize;
    font-family: 'Indie flower', sans-serif;
    border: none;
    border-bottom: 1px solid #eee;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:2px 2px 6px -2px #000000; 
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
}
textarea:hover{
    transform: scale(.98);
}

.input-header{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.to-do-input{
    display: flex;
    /* justify-content: space-around;
    width: 100%; */
    width: 80%;
    flex-direction: row;
    padding: 1px;
    
}

.to-do-input h2{
    text-align: center;
}


input[type="text"]{
    /* width: 60%; */
    font-family: 'Indie flower', sans-serif;
    flex-grow: 2;
    margin: 0 5px;
    border: 0;
    box-shadow:2px 2px 6px -2px #000000; 
    padding: 1rem;
    border-radius: 6px;
    font-size: 1.4rem;
    background-color: #F7F9FE;
}
input[type="radio"]{
    cursor: pointer;
    margin: 2px
}
input[type="radio"]:last-of-type{
    margin-right: 5px;
}


input{
    color: #888;
}

input::placeholder{
    color: #b3b3b3;
}

input:focus::placeholder {
    color: transparent;
  }
  input:focus{
    outline: none;
  }

.to-do-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 .item{
    /* position: relative; */
    margin: 15px;
    
}

.update-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    padding: 5px;
}

.input-controller{
    margin: 10px 0px;
}


.edit-controller{
    display: flex;
    justify-content: space-around;
    /* background-color: #DCE8EB; */
    border-radius: 3px;
}
.edit-controller i{
    margin: 3px;
}

@media(max-width: 500px){
    .app{
        width: 100%;
    }
    .btn-container{
        margin-top: 5px;
    }
    .sort{
        padding: .2rem .8rem;
        margin-bottom: 10px;
    }
    #enter{
        padding: .2rem 1rem;
        margin-bottom: 10px;
    }
    .to-do-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .to-do-input h2{
        margin-bottom: 5px;
    }
    .input h1{
        font-size: 3.5rem;
    }
    input[type="text"]{
        width: 90%;
        margin-bottom: 10px;
    }
    textarea{
        height: 100px;
    }
    .clear-btn{
        margin: auto;
        right: 4%;
    }
}